body {
    background-color: #ECEBF0;
    margin: 64px;
}

h1 {
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 16px;
    text-indent: 16px;
    text-align: center;
    color: #484A47;
    padding-top: 32px;
}

h2 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: bold;
    color: #484A47;
}

p {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.5;
    color: #353129;
}

p.navigation {
    font-size: 15px;
    letter-spacing: 8px;
    word-spacing: 32px;
    text-indent: 8px;
    text-align: center;
    color: #687D77;
    padding-bottom: 32px;
}

p.caption {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: #484A47;
}

img.fit {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #687D77;
}

a.current {
    font-weight: bold;
}

a:visited {
    color: #687D77;
}

a:hover {
    color: #C1CE96;
}
